.scroll{
    max-width: 450px;
    margin-left: 10px;
    margin-right: 5px;
    /* overflow-y: scroll; */
    /* overflow-y: hidden; */
    overflow-x: scroll;
  

}
.scroll::-webkit-scrollbar {
    /* display: ; */
/* width: 0;
height: 0; */
background:transparent;
  }

.title {
    /* margin-left: 15px; */

    display: flex;
    justify-content: center;
    margin-top: 10px;
    /* padding-top: 10px; */
    /* font-weight: 400; */
}
.Forecast{

    display: flex;
    /* justify-content: flex-start; */
    font-size: 25px;
    /* align-items: center; */

padding-top: 10px;

}
.ForecastDetails{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding-right: 15px;


}
.ForecastDetails p{
    font-size: 15px;
    /* padding: 5px; */
}
.ForecastDetails img{
    height: 40px;
    width: 40px;
}
