
.start{
    color: rgb(185, 156, 156);
    display: flex;
    margin: 10px;
    font-size: 20px;
    justify-content: center;
}
.setup{
font-family: monospace ;
    width: 100%;
color: rgb(255, 255, 255);
font-size: 50px;
font-weight: 100;
display: flex;
justify-content: center;



}
.wel{
font-family: fantasy ;

}
.s{
 height: 300px;
 width:100%;
 display: flex;
}
